<ion-view   hasHeader view-title="Alumnos">
  <ion-nav-buttons side="secondary">
    <button class="button  ion-log-out" ng-click="doLogout()">
       Cerrar session
      </button>
  </ion-nav-buttons>
  <ion-content>
 <div class="list">

  <div class="item item-divider">
    Tecnica: Alumnos
  </div>

  <a class="item" >
    Martin Fernandez
  </a>
  <a class="item" >
    Adrian Romero
  </a>
  <a class="item" >
    Rodolfo Madero
  </a>
  <a class="item" >
    Manuel Solin
  </a>
</div>

 <div class="item item-divider">
    Humanidades: Alumnos
  </div>

  <a class="item" >
    Martin Fernandez
  </a>
  <a class="item" >
    Adrian Romero
  </a>
  <a class="item" >
    Rodolfo Madero
  </a>
  <a class="item" >
    Manuel Solin
  </a>
</div>
 <div class="item item-divider">
    Naturalez: Alumnos
  </div>

  <a class="item" >
    Martin Fernandez
  </a>
  <a class="item" >
    Adrian Romero
  </a>
  <a class="item" >
    Rodolfo Madero
  </a>
  <a class="item" >
    Manuel Solin
  </a>
</div>
  </ion-content>
</ion-view>
