<ion-view hasHeader view-title="Perfil">
  <ion-nav-buttons side="secondary">
    <button class="button button-small  ion-log-out" ng-click="doLogout()">
       Cerrar session
    </button>
    </ion-nav-buttons>
  <ion-content>
  <br>
  	<div class="text-center">
  	  	<i class="icon ion-person"></i>
  	</div>

  	<div class="card">
	  <div class="item item-divider">
	    Nombre Preceptor : Martin Perez
	  </div>
	  <div class="item item-text-wrap">
	    Curos a cargo 
	    <ul class="list">
		    <li class="item">
		      1 Tecnica
		    </li>
		    <li class="item">
		      6 Humanidades
		    </li>
		    <li class="item">
		      7 Tecnica
		    </li>
		     <li class="item">
		      2 Tecnica
		    </li>
		</ul>
	  </div>
</div>
  </ion-content>
</ion-view>
